* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #eaddcf;
    font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
    color: #8c7851;
    font-size: 1.2rem;
    


}


/* Título principal centrado y en negrita */
h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  text-align: left;
  font-size: 2.5rem;
  font-weight: bold;
  color: #020826;
  margin: 0.5rem 0;
  padding: 0.5rem;


}
h2 {
    text-align:left;
    font-weight: bold;
}

/* Selector por clase para el párrafo */
p {
    font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
    color: #8c7851;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0.5rem 0;
    padding: 0.5rem;

}

/* Selector por id para la foto */
#photo {
    width: 8vw;
    height: auto;
}

/* Selector por clase para subtítulos */
.subtitle {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: 100;
    color: #020826;
}
footer  p {

    /* Alineación del texto a la derecha */
    text-align: right;

    /* Estilo de fuente itálica */
    font-style: italic;

}
nav > ul {

    /* Eliminar los estilos de lista predeterminados */
    list-style: none;

}
section {
    border: 0.2pt solid #8c7851dd;
    margin: 4px 2px 8px 2px;
    padding: 1.5% 0.8%;
    margin-bottom: 1.2rem;

    /* borde redondeado con un radio de 5 píxeles */
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;

   /* sombra a un elemento */
   -webkit-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
   -moz-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
   box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);

    /* color de fondo */
    background-color: #f9f4ef;
    
}